.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    color: var(--primary);
    font-family: Inter;
    font-size: 36.395px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.364px;
}

.search-bar {
    position: relative;
}

.search-bar input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    padding-right: 30px;
}

.search-bar::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('/assets/icons/search.svg') no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

.join {
    display: flex;
    gap: 30px;
}

.join a{
    color: var(--secundary);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-decoration-line: underline;
    padding-top: 7px;
}

.join button {
    color: var(--light-gray);
    background-color: var(--primary);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.75px;
    border-radius: 6px;
    border: none;
    width: 114px;
    height: 40px;
}

.nav-bar2 ul {
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
    cursor: pointer;
    padding: 38px 0px 0px 70px;
    gap: 32px;
    color: var(--secundary);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
}

.nav-bar2 li:hover {
    color: var(--primary);
    text-decoration: underline;
}
